[Unit]
Description=QY Wechat Webhook Server
After=network.target

[Service]
User=root
Restart=on-failure
WorkingDirectory=/usr/local/share/qy-weixin-webhook
ExecStart=/usr/local/share/qy-weixin-webhook/qy-weixin-webhook

[Install]
WantedBy=multi-user.target