[Unit]
Description=QY Wechat Webhook Server
After=network.target

[Service]
User=root
Restart=on-failure
WorkingDirectory=/usr/local/share/push-webhook
ExecStart=/usr/local/share/push-webhook/push-webhook

[Install]
WantedBy=multi-user.target